/Backend/ExchangeCalculator.Application.Tests/bin
/Backend/ExchangeCalculator.Application.Tests/obj
/Backend/.vs
/Backend/ExchangeCalculator.Models/bin
/Backend/ExchangeCalculator.Models/obj
/Backend/ExchangeCalculator.ServiceWrapper/bin
/Backend/ExchangeCalculator.ServiceWrapper/obj
/Backend/ExchangeCalculator.ServiceWrapper.Tests/bin
/Backend/ExchangeCalculator.ServiceWrapper.Tests/obj
/Backend/ExchangeCalculator.WebApi/bin
/Backend/ExchangeCalculator.WebApi/obj
/Backend/ExchangeCalculator.Application/bin
/Backend/ExchangeCalculator.Application/obj
/Frontend/exchange-calculator-app/node_modules
/Frontend/exchange-calculator-app/.pnp
/Frontend/exchange-calculator-app.pnp.js
/Frontend/exchange-calculator-app/coverage
/Frontend/exchange-calculator-app/build
/Frontend/exchange-calculator-app.DS_Store
/Frontend/exchange-calculator-app.env.local
/Frontend/exchange-calculator-app.env.development.local
/Frontend/exchange-calculator-app.env.test.local
/Frontend/exchange-calculator-app.env.production.local
/Frontend/exchange-calculator-appnpm-debug.log*
/Frontend/exchange-calculator-appyarn-debug.log*
/Frontend/exchange-calculator-appyarn-error.log*

