$color-primary-dark: #0c0d0d;
$color-primary-light: #3c3d3e;

$color-secondary-light: #fff6e6;
$color-secondary-dark: #FF8C5B;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #ccc;
$color-gray-dark-2: #999;

$font-heading: 'Montserrat', serif;
$font-text: 'Lato', serif;

$global-margin: 2rem;
$global-margin-large: 4rem;

$global-border: 1px solid $color-gray-dark;